
@Styles.Render("~/Content/css")

@model IEnumerable< KapyApp.Models.Category >



<ul class="nav navbar-nav">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(@item.categoryName, "Category", "News1")</li>
    }

</ul>

